body{
	background-color: lightgoldenrodyellow;
}


h1{
		font-size:  30px;
		color:  salmon;
	}

	h2{
		color: #F085FD;
		font-size:  20px;
	}

	.big{
		font-size: 60px;
	}
	.uppercase{
		text-transform: uppercase;
	}
	.big.uppercase{
		color:  #FFFA53;
	}
	h1 span{
		color: lightskyblue;
	}